# Compiled class file
*.class

# Operating System Files
*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Build Artifacts
.gradle/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files
.classpath
.project
.settings/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA Files
*.iml
*.ipr
*.iws
*.idea
.mvn
mvnw*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Other
logs/
log
temp/
